@import "tailwindcss";
@plugin './hero.ts';




@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));
:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
  --heroui-background: 215 28% 17%;
  --heroui-foreground: 220 13% 91%;
}
@theme {
  --color-dark-1: #111827;
  --color-dark-2: #1f2937;
  --color-dark-3: #424d5b;
  --color-white-1: #f5f3eb;
  --color-white-2: #fff;
  --breakpoint-xs: 24rem;
}

/* body {
  background-color: #1F2937;
} */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Custom 4px scrollbar */
  .scrollbar-4px::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .scrollbar-4px::-webkit-scrollbar-thumb {
    background-color: var(--heroui-foreground);
    border-radius: 2px;
  }
  .scrollbar-4px::-webkit-scrollbar-track {
    background-color: var(--heroui-background);
  }
  .scrollbar-4px {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--heroui-foreground) var(--heroui-background); /* Firefox */
  }
}

